@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  font-size: 0.8333vw;
  font-family: "Pretendard", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.animate-spin {
  animation: spin 10s linear infinite;
}

.animate-spin-reverse {
  animation: inherit;
  animation-name: spin-reverse;
}

.use-case-swiper {
  @apply !w-[78.75rem] !pb-[3.75rem] !mr-0;
}

.use-case-swiper .swiper-pagination {
  @apply bg-[#e7e7e7] !top-[unset] bottom-0 !h-[2px] !w-[65.125rem];
}
.use-case-swiper .swiper-pagination-progressbar-fill {
  @apply !bg-[#333333];
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(1turn);
  }
}

@keyframes rollingCurrent {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes rollingNext {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media (min-width: 1921px) {
  html {
    font-size: 16px;
  }
}
